<div
  class="container-fluid"
  style="
    height: calc(100vh - 71px);
    overflow-y: auto;
    background-color: antiquewhite;
  "
>
  <div class="container d-flex flex-column">
    <div class="row">
      <div class="col text-center">
        <div class="input-icons">
          <input
            #search
            placeholder="Search a work!"
            (keyup)="searchWorks(search.value)"
            class="input-field"
          /><i class="bi bi-search icon"></i>
        </div>
        <a
          *ngIf="userIsAdmin === true"
          routerLink="/newWork"
          class="btn brown-btn mb-2 shadow"
          ><span><i class="bi bi-plus-circle me-2"></i></span>New Work</a
        >
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 mb-3 g-4" *ngFor="let work of works">
        <div class="card shadowHover shadow">
          <img
            src="{{ work.image }}"
            class="card-img-top"
            style="height: 250px; object-fit: cover"
            alt="..."
          />
          <div class="card-header headHeight">
            <h3 class="text-truncate">{{ work.name }}</h3>
          </div>
          <div
            class="card-body cream d-flex flex-wrap align-content-between height pb-0"
          >
            <p class="card-text">{{ work.description }}.</p>
            <div class="d-flex justify-content-end">
              <a
                [routerLink]="['/details', work.id]"
                class="btn brown-btn me-2 mb-2 shadow"
                >Details</a
              >
              <a
                [routerLink]="['/details', work.id]"
                class="btn brown-btn me-2 mb-2 shadow"
              >
                <i class="fas fa-comments me-2"></i>
                <span>{{ work.comments.length }}</span>
              </a>
              <a
                *ngIf="userIsAdmin === true"
                [routerLink]="['/edit', work.id]"
                class="btn beige-btn mb-2 shadow"
                >Edit</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
