.height {
  height: 120px;
}

.headHeight {
  height: 49px;
}

.brown-btn {
  background-color: #512918;
  color: #f3ebdc;
}
.brown-btn:hover {
  background-color: #79432b;
  color: #f3ebdc;
}
.orange-btn {
  background-color: #b96a24;
  color: #f3ebdc;
  border-radius: 10px;
  padding: 8px 15px;
}
.orange-btn:hover {
  background-color: #f9963e;
  color: #f3ebdc;
}
.light-brown-btn {
  background-color: rgb(243 156 83);
  color: #f3ebdc;
  border-radius: 10px;
  padding: 8px 15px;
}
.light-brown-btn:hover {
  background-color: rgb(214, 137, 74);
  color: #f3ebdc;
}
.beige-btn {
  background-color: #b37f52;
  color: #f3ebdc;
}
.beige-btn:hover {
  background-color: #d19f73;
  color: #f3ebdc;
}
.btn {
  border-radius: 10px;
}
.card {
  border: none;
}

input {
  border: none;
  border-radius: 8px;

  padding: 8px 15px;
  color: #704837;
}

input:focus-visible,
input::placeholder {
  outline-color: #512918;
  color: #704837;
  text-align: start;
}

button:hover {
  background-color: #704938;
  color: #fae8d2;
}

.input-icons {
  width: fit-content;
  height: fit-content;
  margin-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-inline: auto;
  position: relative;
}

.icon {
  padding: 10px;
  min-width: 40px;
  color: #704938;
  right: -1px;
  bottom: -3px;
  position: absolute;
}

.input-field {
  text-align: center;
}
.card-header,
.card-body {
  background-color: rgb(252, 250, 245);
  color: #512918;
}

.card-body {
  height: 150px;
}

.card-text {
  min-width: 150px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cream {
  background-color: #f7fff7;
}
