<nav
  class="navbar navbar-expand-md bg-custom px-3 py-3 border-bottom border-white"
>
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Antonio Simonetti</a>

    <div class="d-flex gap-2">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-md-none" *ngIf="userLoggedIn">
        <button class="btn btn-outline-danger h-100" (click)="logout()">
          <i class="bi bi-box-arrow-right"></i>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav w-100">
        <div class="d-md-flex w-100">
          <a
            class="nav-link"
            [routerLink]="['/works']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Works</a
          >
          <a
            class="nav-link"
            [routerLink]="['/contacts']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Contact us</a
          >
          <a
            *ngIf="userLoggedIn"
            class="nav-link"
            [routerLink]="['/user']"
            routerLinkActive="active"
          >
            User</a
          >
          <div class="flex-grow-1"></div>
          <a
            *ngIf="!userLoggedIn"
            class="nav-link"
            [routerLink]="['/login']"
            routerLinkActive="active"
            >Login</a
          >
          <a
            *ngIf="!userLoggedIn"
            class="nav-link me-3"
            [routerLink]="['/register']"
            routerLinkActive="active"
            >Register
          </a>
        </div>
      </div>
      <div class="d-none d-md-flex" *ngIf="userLoggedIn">
        <button class="btn btn-outline-danger h-100" (click)="logout()">
          <i class="bi bi-box-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
