<nav class="navbar navbar-expand-md bg-custom px-3 py-3">
  <div class="container-fluid">
    <a class="navbar-brand text-white" [routerLink]="['/']">
      <img
        src="../../../assets/IMG/WhatsApp Image 2024-03-22 at 22.35.24 (1).png"
        class="navbarLogo me-2"
        alt=""
        srcset=""
      />Antonio Simonetti</a
    >

    <div class="d-flex gap-2">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-md-none" *ngIf="userLoggedIn">
        <button class="btn btn-outline-danger h-100" (click)="logout()">
          <i class="bi bi-box-arrow-right"></i>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav w-100">
        <div class="d-md-flex w-100">
          <a
            class="nav-link"
            [routerLink]="['/works']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Works</a
          >
          <a
            *ngIf="userLoggedIn"
            class="nav-link"
            [routerLink]="['/profile']"
            routerLinkActive="active"
          >
            Edit Profile</a
          >
          <div class="flex-grow-1"></div>
          <a
            *ngIf="userIsAdmin == true"
            class="nav-link me-4 rainbow-text shadow"
            [routerLink]="['/admin']"
            routerLinkActive="active"
            >ADMIN</a
          >
          <a
            *ngIf="!userLoggedIn"
            class="nav-link"
            [routerLink]="['/login']"
            routerLinkActive="active"
            >Login</a
          >
          <a
            *ngIf="!userLoggedIn"
            class="nav-link me-3"
            [routerLink]="['/register']"
            routerLinkActive="active"
            >Register
          </a>
        </div>
      </div>
      <div class="d-none d-md-flex" *ngIf="userLoggedIn">
        <button class="btn btn-outline-danger h-100" (click)="logout()">
          <i class="bi bi-box-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
