.bg-custom {
  background-color: #0f0f0f;
}

.nav-link {
  color: rgb(163, 163, 163);
  font-size: 1rem;

  &:hover {
    color: white;
  }
}

.rainbow-text {
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  background-size: 200% 100%;
  color: transparent;
  display: inline-block;
  animation: rainbow-animation 2s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes rainbow-animation {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 200% 50%;
  }
}

.navbarLogo {
  height: 29px;
}

.nav-link.active {
  color: white;
}

.navbar-toggler {
  filter: invert(1);

  &:focus {
    box-shadow: none;
  }
}
