.container {
  color: #512918;
}

.imgPreview {
  height: 150px;
}

h1 {
  padding-top: 40px;
  font-weight: 700;
}

label {
  font-weight: 500;
  margin-bottom: 5px;
}
textarea {
  resize: none;
}
.date {
  margin-left: 15px;
}
input:focus,
textarea:focus {
  border-color: #512918;
  box-shadow: none;
}

button,
button:disabled {
  border-radius: 10px;
  background-color: #512918;
  color: #fae8d2;
}

button:hover {
  background-color: #704938;
  color: #fae8d2;
}

.btn {
  border-radius: 10px;
}

.container-fluid {
  background-color: antiquewhite;
  height: calc(100vh - 71px);
  overflow-y: auto;
}
