<div class="container">
  <h2 class="pt-3">Edit Work</h2>
  <form (submit)="onSubmit()">
    <div class="form-group mt-4">
      <label for="Name">Name</label>
      <input
        type="text"
        [(ngModel)]="work.name"
        class="form-control"
        id="Name"
        name="Name"
        required
      />
    </div>
    <div class="form-group mt-4">
      <label for="Description">Description</label>
      <input
        type="text"
        [(ngModel)]="work.description"
        class="form-control"
        id="Description"
        name="Description"
        required
      />
    </div>
    <div class="form-group mt-4">
      <label for="dateCreated">Date of Creation</label>
      <input
        type="text"
        [(ngModel)]="work.dateCreated"
        class="form-control"
        id="dateCreated"
        name="dateCreated"
        required
      />
    </div>
    <div class="form-group mt-4">
      <label for="Image">Image</label>
      <input
        type="text"
        [(ngModel)]="work.image"
        class="form-control"
        id="Image"
        name="Image"
      />
    </div>
    <div class="form-group dropdown mt-4">
      <label for="genre">Status</label>
      <select
        name="status"
        id="status"
        class="form-control dropdown-toggle"
        required
        [(ngModel)]="work.worksStatus"
      >
        <option value="IN_PROGRESS">WORK IN PROGRESS</option>
        <option value="COMPLETED">COMPLETED</option>
      </select>
    </div>
    <div class="d-flex justify-content-between mt-3">
      <div>
        <button type="submit" class="btn btn-brown mt-2 me-3">
          Update Work
        </button>
        <button
          type="button"
          (click)="deleteWork(work.id)"
          class="btn btn-beige mt-2"
        >
          Delete Work
        </button>
      </div>
      <button type="button" (click)="cancel()" class="btn btn-beige mt-2">
        Cancel
      </button>
    </div>
  </form>
</div>
