.profile-pic {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.card-img-top {
  max-height: 550px;
}

.beige-btn {
  background-color: #b37f52;
  color: #f3ebdc;
}
.beige-btn:hover {
  background-color: #d19f73;
  color: #f3ebdc;
}

.btn {
  border-radius: 10px;
}

.container-fluid {
  background-color: antiquewhite;
  height: calc(100vh - 71px);
  overflow-y: auto;
}
