.profile-pic {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.card-img-top {
  max-height: 550px;
}

.container-fluid {
  background-color: antiquewhite;
  height: calc(100vh - 71px);
  overflow-y: auto;
}

.brown-bg {
  background-color: #512918;
  color: #f3ebdc;
}
