<div class="container">
  <h2 class="pt-3">Edit User Profile</h2>
  <div>
    <img src="{{ user.avatar }}" alt="" class="avatarImg" />
    <h3>Avatar Image</h3>
  </div>
  <form (submit)="onSubmit()">
    <div class="form-group mt-3">
      <label for="image">New Avatar:</label>
      <input
        type="file"
        name="avatar"
        id="avatar"
        class="form-control"
        value="{this.user.image}"
        (change)="handleImageChange($event)"
      />
    </div>
    <div class="form-group mt-4">
      <label for="username">Username</label>
      <input
        type="text"
        [(ngModel)]="user.username"
        class="form-control"
        id="username"
        name="username"
      />
    </div>
    <div class="form-group mt-4">
      <label for="nome">Name</label>
      <input
        type="text"
        [(ngModel)]="user.name"
        class="form-control"
        id="name"
        name="name"
      />
    </div>
    <div class="form-group mt-4">
      <label for="surname">Surname</label>
      <input
        type="text"
        [(ngModel)]="user.surname"
        class="form-control"
        id="surname"
        name="surname"
      />
    </div>
    <div class="form-group mt-4">
      <label for="email">Email</label>
      <input
        type="email"
        [(ngModel)]="user.email"
        class="form-control"
        id="email"
        name="email"
        required
      />
    </div>
    <div class="form-group mt-4">
      <label for="password">New Password</label>
      <input
        type="password"
        [(ngModel)]="user.password"
        name="password"
        id="password"
        class="form-control"
        required
      />
    </div>
    <div class="d-flex justify-content-between mt-3">
      <div>
        <button type="submit" class="btn btn-brown mt-2 me-3">
          Update Profile
        </button>
      </div>
      <button type="button" (click)="cancel()" class="btn btn-beige mt-2">
        Cancel
      </button>
    </div>
  </form>
</div>
